<p class="notice"><%= flash[:notice] %></p>
<%     flash[:notice] = nil %>
<table class="table table-hover">
<tbody>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% @all_items.each do |item| %>
    <tr>
      <td>Ranked: <%= item.rank %></td>
      <td><%= link_to item.name, "#{@link_path}#{item.id}" %></td>
      <td><%= button_to "Upvote", albums_upvote_path(item.id), {method: :patch} %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to "View All Media", root_path, {class: "btn btn-default"} %>
<%= link_to "Add a #{@media}", @path, {class: "btn btn-default"} %>
